body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: linear-gradient(to bottom right, #0921fa, #ffffff);
    height: 100vh;
    overflow: hidden;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 200%;
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    background-color: white;
    margin: 2rem auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
}
/* LOGIN*/
.container {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 400px;
    height: 70vh;
    z-index: 1;
}

.container::before {
    position: absolute;
    top: -150px;
    left: 50%;
    width: 400px;
    height: 400px;
    content: '';
    background-image: linear-gradient(to top right, #2108ff, #4c00ff);
    border-radius: 50%;
    z-index: -1;
    animation: backgroundanimation 6s ease-in-out 2s infinite alternate;
}

.container::after {
    position: absolute;
    top: 130%;
    right: 60%;
    width: 200px;
    height: 200px;
    content: '';
    background-image: linear-gradient(to top right, #f9faff, #4c00ff);
    border-radius: 50%;
    z-index: -1;
    filter: blur(10px);
    animation: backgroundanimation 5s ease-in-out infinite alternate;
}

@keyframes backgroundanimation {
    from {
        transform: translateY(0, 0);
    }
    to {
        transform: translateX (0, 90px);
    }
}

.form {
    background-color: rgba(239, 239, 239, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
}

.content {
    width: 80%;
    padding: 10%;
    height: 60%;
    position: absolute;
    margin-top: 20%;
}

h1 {
    color: #fff;
    margin-bottom: 50px;
}

button {
    width: 90%;
    border: none;
    margin-top: 90px;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to right, #0044ff, #0307fa);
    color: #fff;
    cursor: pointer;
}

.group {
    height: 60px;
    position: relative;
    margin-bottom: 30px;
}

.group label {
    position: absolute;
    top: 45px;
    left: 10%;
    transition: 0.5s;
}

.group .inputText {
    margin-top: 30px;
    width: 80%;
    padding: 0 10%;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgba(253, 248, 248, 0.6);
}

.inputText:focus + label,
.inputText:not(:placeholder-shown) + label {
    top: 0;
    left: 10%;
}

.inputText:valid {
    border-bottom: 1px solid #909fee;
}

/* crear*/
